* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
  /* min-width:100vw;min-height:100vh; */
}

#app,
.app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items:flex-start;
  gap: 0px;
  /* min-width:100vw;min-height:100vh; */
}

#file-system,
#fileSystem {
  box-sizing: border-box;
  margin: 0;
  padding: 16px;
  z-index: 1;
  list-style: none;
  width: 100%;
  height: 100%;
  overflow: scroll;
  /* min-width: 100vw; */
  /* min-height: 100vh; */
  /* height: fit-content; */
}

.node {
  width: 100%;
}

.node,
.node * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 1;
  list-style: none;

}

.collapsible-button {
  background-color: #777;
  background-color: #C5A814;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.node[data-active=true]>.collapsible-button {
  background-color: #8B7D36;
}

.node[data-active=true]>.collapsible-button:hover {
  background-color: #555555;
}

.node[data-active=true]>.collapsible-button:after {
  content: "\2212";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.node[data-active=false]>.collapsible-button {
  background-color: #C5A814;
}

.node[data-active=false]>.collapsible-button:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  width: 100%;
}

.collapsible-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 0px 10px 10px;
  background-color: #f1f1f1;
  overflow: hidden;
}

.node[data-active=false]>.collapsible-content-wrapper {
  padding: 10px 0 0 10px;
}
